django>=5.2.16
django-allauth>=65.18.0
django-allauth-ui>=1.8.1
django-bootstrap5>=26.2
django-ckeditor-5>=0.2.20
whitenoise>=6.12.0
gunicorn>=26.0.0
python-dotenv>=1.2.2
pillow>=12.3.0
psycopg2-binary>=2.9.12
dj-database-url>=3.1.2
requests>=2.33.0
jwt>=1.4.0
